/* Colors
navy: #0a192f;
light-navy: #112240;
lightest-navy: #233554;
slate: #8892b0;
light-slate: #a8b2d1;
lightest-slate: #ccd6f6;
white: #e6f1ff;
green: #64ffda; */

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    background-color: #0a192f;
    animation: transitionIn 4s;
}

#display {
    margin-top: 75px;
    margin-bottom: 75px;
    font-size: 200px;
    color: #e6f1ff;
    /* transition: 6000ms; */
}

/* buttons */
#start_button, #stop_button {
    font-size: 50px;
    padding: 75px 100px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    background-color: transparent;
    color: lightslategray;
    border: 3px solid lightslategray;
    transition: 0.4s ease-out;
}

#start_button span, #stop_button span {
    position: relative;
    z-index: 2;
}

#start_button:after, #stop_button:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    width: calc(100% + 2rem);
    height: calc(100% + 2rem);
    border-radius: 0.5rem;
    border: 3px solid lightslategray;
    opacity: 0;
    transition: 0.4s ease-out;
}

#start_button:before, #stop_button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    width: 0;
    height: 0;
    background-color: #64ffda;
    border-radius: 999px;
    transition: 0.4s ease-out;
}

#start_button:hover, #stop_button:hover {
    color: white;
    border-color: transparent;
}

#start_button:hover:after, #stop_button:hover:after {
    width: 100%;
    height: 100%;
    opacity: 1;
    border-color: #64ffda;
}

#start_button:hover:before, #stop_button:hover:before {
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    border-radius: 0.5rem;
}

/* grid settings */
main {
    display: grid;
    padding: 1em;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-template-areas: 
    "a"
    "b"
    "c"
    "d";
}

.a {
    grid-area: a;
}
.b {
    grid-area: b;
}
.c {
    grid-area: c;
}
.d {
    grid-area: d;
}

.box {
    display: flex;
    justify-content: center;
}

/* nav stuff */
nav {
    width: 100%;
    height: 60px;
    /* background-color: lightblue; */
    /* border: solid; */
    /* border-style: outset black; */
    /* border-width: .1em; */
    /* border-radius: 25px; */
    /* box-shadow: 5px 5px 20px black; */
}

nav p {
    font-family: arial;
    color: #ccd6f6;
    font-size: 24px;
    line-height: 55px;
    float: left;
    padding: 0px 20px;
}

nav ul {
    float: left;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    font-family: arial;
    color: #ccd6f6;
    font-size: 24px;
    padding: 22px 14px;
    text-decoration: none;

    background-image: linear-gradient(90deg, #e6f1ff, cyan);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease;
}

.navigation a:hover{
    color: white;
    cursor: pointer;
    background-size: 100% 3px;
}