* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#display {
    font-size: 100px;
}

main {
    display: grid;
    padding: 1em;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-template-areas: 
    "a"
    "b"
    "c"
    "d";
}

.a {
    grid-area: a;
}
.b {
    grid-area: b;
}
.c {
    grid-area: c;
}
.d {
    grid-area: d;
}

.box {
    display: flex;
    justify-content: center;
}

/* nav stuff */
nav {
    width: 100%;
    height: 60px;
    background-color: lightblue;
    border: solid;
    border-style: outset black;
    border-width: .1em;
    border-radius: 25px;
    box-shadow: 5px 5px 20px black;
  }
  
  nav p {
    font-family: arial;
    color: #2A2B2DFF;
    font-size: 24px;
    line-height: 55px;
    float: left;
    padding: 0px 20px;
  }
  
  nav ul {
    float: left;
  }
  
  nav ul li {
    float: left;
    list-style: none;
    position: relative;
  }
  
  nav ul li a {
    font-family: arial;
    color: #222;
    font-size: 24px;
    padding: 22px 14px;
    text-decoration: none;
  }
  
  nav ul li ul {
    display: none;
    position: absolute;
    background-color: lightblue;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
  }
  
  nav ul li:hover ul {
    display: block;
  }
  
  nav ul li ul li {
    width: 135px;
    border-radius: 4px;
    padding-top: 25px;
    text-align: left;
  }
  
  nav ul li ul li a {
    font-size: 1.2em;
    padding: 8px 14px;
    display: flex;
  }
  
  nav ul li ul li a:hover {
    color: white;
    cursor: pointer;
  }
  
  .navigation a:hover{
    color: white;
    cursor: pointer;
  }